# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
backend.hcl
backend-*.hcl
terraform.tfvars.json

# Build artifacts
dist/
*.zip

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

