# Terraform
.terraform/
terraform.tfstate*
*.tfplan
crash.log

# Python
__pycache__/
*.pyc
.pytest_cache/

# Node/OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build/output
dist/
*.zip

# Jupyter
.ipynb_checkpoints/

