S3_RAW_BUCKET=bank-deposits-mart-final-raw-<unique>
S3_STAGE_BUCKET=bank-deposits-mart-final-stage-<unique>
S3_CURATED_BUCKET=bank-deposits-mart-final-curated-<unique>
REDSHIFT_ROLE_ARN=arn:aws:iam::<YOUR_AWS_ACCOUNT_ID>:role/RedshiftS3ReadRole
SNS_ARN=arn:aws:sns:us-east-1:<YOUR_AWS_ACCOUNT_ID>:bank-deposits-mart-final-alerts
