S3_RAW_BUCKET=<PROJECT>-raw-<unique>
S3_STAGE_BUCKET=<PROJECT>-stage-<unique>
S3_CURATED_BUCKET=<PROJECT>-curated-<unique>
REDSHIFT_ROLE_ARN=arn:aws:iam::<YOUR_AWS_ACCOUNT_ID>:role/RedshiftS3ReadRole
SNS_ARN=arn:aws:sns:us-east-1:<YOUR_AWS_ACCOUNT_ID>:<PROJECT>-alerts
